.App {
  text-align: center;
  border: 1px solid black;
  margin: 10vh 20%;
  min-height: 500px;
}

img {
  height: 100%;
  width:inherit;
}

button {
  margin: 10px;
  font-size: 16px;
  padding: 5px 15px;
  background-color: rgb(86, 226, 239);
  border-radius: 5px;
  cursor: pointer;
}

button:first-of-type {
  background-color: rgb(255, 196, 228);
}

button:last-of-type {
  background-color: rgb(182, 214, 40);
}

ul {
  list-style-type: none;
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.img-container {
  height: 200px;
  width: 200px;
  background-color: beige;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
