.App {
  text-align: center;
}

button {
  margin: 10px;
  font-size: 16px;
  padding: 5px 15px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 4,4,4,4,#282c34;
  cursor: pointer;
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.img-container {
  height: 200px;
  width: 200px;
  background-color: beige;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
